spring:
  application:
    name: ecom-app

  datasource:
    url: jdbc:postgresql://localhost:5432/ecom-db
    username: admin
    password: admin

  jpa:
    database: postgresql
    show-sql: true
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.PostgreSQLDialect

    properties:
      hibernate.jdbc.time_zone: "Asia/Kolkata"

management:
  endpoints:
    web:
      exposure:
        include: '*'

  endpoint:
    health:
      show-details: always
