spring:
  application:
    name: user-service

  datasource:
    url: jdbc:postgresql://localhost:5432/ecom-user
    username: admin
    password: admin

  jpa:
    database: postgresql
    show-sql: true
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.PostgreSQLDialect

    properties:
      hibernate.jdbc.time_zone: "Asia/Kolkata"

#  h2:
#    console:
#      enabled: true
#  datasource:
#    url: jdbc:h2:mem:test
#  jpa:
#    show-sql: true
#    hibernate:
#      ddl-auto: update

server:
  port: 8082


